[submodule "themes/uilite"]
	path = themes/uilite
	url = https://github.com/uicardiodev/hugo-uilite.git
[submodule "public"]
	path = public
	url = https://github.com/tirannosario/tirannosario.github.io.git
	branch = master
[submodule "tirannosario.github.io"]
	path = tirannosario.github.io
	url = git@github.com:tirannosario/tirannosario.github.io.git
	branch = master
