html,body
{
    background-color: darkslategrey;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: blanchedalmond;
    margin: 0 0 0 0;
}

nav
{
    float: left;
    width: 30%;
    height: auto;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    position: fixed;
}

article
{
    
    background-color: blanchedalmond;
    float: right;
    width: 66%;
    height: 100%;
    margin: 0 0 0 0;
    color: darkslategrey;
}

article p
{
    margin: 2% 5% 2% 5%;
    color: darkslategrey;
    clear: both;
}

article p img
{
    border: 6px solid darkslategrey;
}

#title
{
    margin-left: 5%;
    text-shadow: 6px 6px 6px black;
    font-family: 'Press Start 2P', cursive;
}

#biopic
{
    margin: 5% 10% 0 10%;
    width: 55%;
    height: 55%;
    border-radius: 50%;
    border: 10px solid rgb(238, 238, 237);
}

#bio
{
    font-size: 1.5em;
}

bold
{
    font-weight: 700;
}

a
{
    color: aliceblue;
}

footer
{
    clear: both;
}

.article-img-horiz
{
    margin: 2% 5% 2% 5%;
    width: 80%;
    height: 60%;
}

.article-img-vert
{
    margin: 2% 5% 2% 5%;
    width: 50%;
    height: 80%;
    float: right;
}

.scrollable
{
    overflow-y: auto;
}

hr
{
    margin: 2% 2% 2% 2%;
    border: 3px solid darkslategrey;
    border-radius: 5px;
}

.article-title
{

    float: right;
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Press Start 2P', cursive;
    margin: 2% 2% 3% 4%;
    color: darkslategrey;
}

a:hover
{
    -webkit-animation: neon4 1s ease-in-out infinite alternate;
    -moz-animation: neon4 1s ease-in-out infinite alternate;
    animation: neon4 1s ease-in-out infinite alternate;
}

@-webkit-keyframes neon4 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
    }
}
