html,body,#home
{
    width: 100%;
    height: 100%;
    background-color: #1A535C;
    /*font-family: 'Raleway';*/
    font-family: 'Roboto Mono';
}
#back
{
    float: left;
}

#info
{
    float: left;
    height: fit-content;
    margin: 0px 0px 0px 0px;
    font-family: 'Roboto Mono';
    font-size: 1.5em;
    margin:auto;
    color: #FFEA87;
}

#info img
{
    display: block;
    margin: 10% auto;
    width: 65%;
    height: 30%;
    border-radius: 50%;
    border: 4px solid #F8FFF8;
}

#info a
{
    color: #FFEA87;
}

#info a:hover
{
    color: #FF8585;
}

#name
{
    color: #FF8585;
    font-size: 1.1em;
}

#menu
{
    margin-top: 25%;
    text-align: center;
}

.navMenu
{
    background-color: transparent;
    border: 0px;
    color: #6ED6CE;
}

.navMenu:hover
{
    color: #FF8585;
}

.btnMenu
{
    margin: 5% auto;
    display: block;
    width: 60%;
    height: 40%;
    border: 4px solid #FF8585;
    color: #FF8585;
    font-size: 2em;
    font-weight: bold;
    background-color: #F8FFF8;
}

.btnMenu:hover
{
    background-color: #FFEA87;
    color: #437279;
    border: 4px solid #437279;
}

#content
{
    background-color: #F8FFF8;
    float: right;
    height: 100%;
    margin: 0px 0px 0px 0px;
}

#projects
{
    overflow-y: auto;
    height: 100%;
}
#projects img
{
    width: 80%;
    height: auto;
    margin: 10% auto;
    display: block;
}

#projects h2
{
    margin-top: 3%;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #FF8585;
}

#skills h2
{
    margin-top: 3%;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #FF8585;
}

#skills
{
    overflow-y: auto;
    height: 100%;
}

#skills .progress
{
    margin: 2%;
    height: 2em;
    font-size: large;
}

.article
{
    font-size: 1.3em;
    margin: 5% 2%;
}

ul
{
    list-style-type: disc;
}

li
{
    margin: 4% auto;
}

.typewriting {
    color: #1A535C;
    width: fit-content;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 4s steps(70, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}


